<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.slsale.dao.AuthorityMapper">
    <select id="getAuthority" parameterType="authority" resultType="authority">
        SELECT *
        FROM au_authority
        WHERE id = #{id}
    </select>
    <select id="getAuthorities" parameterType="authority" resultType="authority">
        SELECT *
        FROM au_authority
    </select>
    <update id="updateAuthority" parameterType="authority">
        UPDATE au_authority
        <set>
            <if test="roleId!=null">roleId=#{roleId},</if>
            <if test="functionId!=null">functionId=#{functionId},</if>
            <if test="userTypeId!=null">userTypeId=#{userTypeId},</if>
            <if test="creationTime!=null">creationTime=#{creationTime},</if>
            <if test="createdBy!=null">createdBy=#{createdBy},</if>
        </set>
        WHERE id=#{id}
    </update>
    <insert id="addAuthority" parameterType="authority">
        INSERT INTO au_authority (roleId, functionId, userTypeId, creationTime, createdBy)
        VALUES (#{roleId}, #{functionId}, #{userTypeId}, #{creationTime}, #{createdBy})
    </insert>
    <delete id="deleteAuthority" parameterType="authority">
        DELETE FROM au_authority WHERE id = #{id};
    </delete>
</mapper>